/*Responsive para escritorio y tablet*/
@media (max-width:480px){

	#card_body{
		width: 80% !important;
	}


	/*==================> Card Header */
	#card_header{
		width: 284px;
	}

	/*==================> Redes */
	#card_body .redes{
		width: 284px;
	}


	/********************************************************************/
    /* ===================== Icon ===================== */
	/********************************************************************/
	#icon{
		display: inline-block;
  		width: 50px !important;
  		height: 55px !important;
  		margin-top: 17px !important;
  		margin-right: 3px !important;
  		margin-left: 3px !important;
	}
}