/*Responsive para escritorio y tablet*/
@media (max-width:375px){

	body{

		min-height: 745px;

	}

	#card_body{
		width: 90% !important;
	}


	/*==================> Card Header */
	#card_header{
		width: 341px;
	}


	/*==================> Skills */
	#skills .programs span{
    font-size: 17px;
   
	}

	/*==================> Redes */
	#card_body .redes{
		width: 341px;
		height: 75px;
		border: 5px solid #e9e9e9;
		border-bottom-left-radius: 95px;
		border-bottom-right-radius: 26px;

	}

	#icon .images{
		display: none; 
	}

	#icon .intercambio1 .intercambio2 {
  		opacity: 1;
	}


	/********************************************************************/
    /* ===================== Icon ===================== */
	/********************************************************************/
	#icon{
		display: inline-block;
  		width: 50px;
  		height: 55px;
  		margin-top: 13px;
  		margin-right: 7px;
  		margin-left: 7px;
	}
}