/*-----> Texto <-----*/
@font-face{
    font-family: "PetronaBold";
    src:url(../../materiales/fonts/Petrona-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PetronaBoldItalic";
    src:url(../../materiales/fonts/Petrona-BoldItalic.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PetronaLight";
    src:url(../../materiales/fonts/Petrona-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PetronaLightItalic";
    src:url(../../materiales/fonts/Petrona-LightItalic.ttf);
    font-weight: normal;
    font-style: normal;
}

/*####################### FONTS #######################*/
#descripcion span{
    font-family: 'PetronaBold';
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
}

/*==================> Article */
article h2{
    font-family: 'PetronaBoldItalic';
    font-size: 22px;
    text-align: left;
    letter-spacing: 1px;
}

#icons{
    text-align: center;
}


#icons .texto{
    font-family: 'PetronaLight';
    font-size: 20px;
    letter-spacing: 2px;
}

/*==================> Skills */
#skills h2{
    font-family: 'PetronaBoldItalic';
    font-size: 22px;
    text-align: left;
    letter-spacing: 1px;
}


#skills .programs{
    text-align: center;
}

#skills .programs span{
    font-size: 19px;
    font-family: 'PetronaLightItalic';
    letter-spacing: 2px;
}