/*-----> Texto <-----*/
@font-face{
    font-family: "PetronaBold";
    src:url(../../materiales/fonts/Petrona-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PetronaBoldItalic";
    src:url(../../materiales/fonts/Petrona-BoldItalic.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PetronaLight";
    src:url(../../materiales/fonts/Petrona-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "PetronaLightItalic";
    src:url(../../materiales/fonts/Petrona-LightItalic.ttf);
    font-weight: normal;
    font-style: normal;
}

/*####################### FONTS #######################*/

/*------------------> Container - Body -------->*/
#container-body{
    text-align: center;
}

#container-body .nombre{
    font-family: "PetronaBold";
    font-size: 25px;
    letter-spacing: 2px;
}


#container-body .rubro{
    font-family: "PetronaBoldItalic";
    font-size: 22px;
    letter-spacing: 2px;
}

article h2{
    font-family: 'PetronaLight';
    font-size: 19px;
    text-align: left;
    letter-spacing: 1px;
}

#container-body .box4-texto{
    font-family: "PetronaLightItalic";
    font-size: 19px;
    letter-spacing: 1px;
}